[Unit]
Description=RedDeer Third Party Surveillance Data Synchroniser Service
DefaultDependencies=yes
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dotnet /reddeer/ThirdPartySurveillanceDataSynchroniser/RedDeer.ThirdPartySurveillanceDataSynchroniser.App.dll --systemd-service
Restart=on-failure
RestartSec=5
User=reddeer
Group=reddeer

[Install]
WantedBy=multi-user.target
