bin/
obj/
.vs/
*.user
*.feature.cs
src/Relay/RedDeer.Relay.sln.DotSettings.user
packages/
src/Relay/App/Play Equity Files/
src/Relay/App/Play Trade Files/
src/PicklesDocumentation/
*.feature.cs

.dotnet/*
tools/*

# NCrunch
*.n[Cc]runch*
.*crunch*.local.xml
src/_NCrunch_*
*nCrunchTemp_*

# appsettings
src/Surveillance.Api.App/appsettings.json
src/Surveillance/App/appsettings.json
