<?xml version="1.0"?>
<appSettings>
  <add key="Environment" value="Dev" />
  <add key="ConnectionString" value="Server=.\sqlexpress;Database=Dev_Client;Trusted_Connection=True;" />
  <add key="Scheme" value="http" />
  <add key="Port" value="9065" />
  <add key="AWSSecretKey" value="w/OXDiEJb4uPsVmDPoJONPTTH5q/v6u7J8xeKb+U" />
  <add key="AWSAccessKey" value="AKIAJGU4QZGKE2VWMLBQ" />
  <add key="BucketName" value="reddeer-dev-client" />
  <add key="S3Prefix" value="RelayArchives/" />
  <add key="ElasticSearchV6Address" value="http://localhost:9200" />
  <add key="ElasticSearchIndexPrefix" value="relay-" />
  <add key="ElasticSearchOutputQueueName" value="dev-reddeer-elasticsearch" />
</appSettings>