<?xml version="1.0"?>
<appSettings>
  <!-- ReSharper disable MarkupAttributeTypo -->
  <add key="Environment" value="Dev" />
  <add key="ConnectionString" value="Server=.\sqlexpress;Database=Dev_Client;Trusted_Connection=True;" />
  <add key="Scheme" value="http" />
  <add key="Port" value="9065" />
  <add key="BucketName" value="reddeer-dev-client" />
  <add key="S3Prefix" value="SurveillanceArchives/" />
  <!-- ReSharper restore MarkupAttributeTypo -->
</appSettings>