<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
  <!-- ReSharper disable MarkupAttributeTypo -->
  <variable name="logDirectory" value="C:/AppLogs/RedDeer.SurveillanceApi" />
  <variable name="logName" value="RedDeer.SurveillanceApi" />
  <variable name="genericLayout" value="${date:universalTime=True:format=dd/MM/yyyy HH\:mm\:ss.fff}|${level:upperCase=true:padding=5}|${threadid:padding=4}|${logger:shortName=true:padding=30}|${message}  ${exception:format=tostring}" />
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}"  />
    <target name="localfile"
          xsi:type="File"
          fileName="${logDirectory}/${logName}.log"
          archiveFileName="${logDirectory}/${logName}_{#####}.log"
          layout="${genericLayout}"
          archiveEvery="Day"
          archiveAboveSize="10240000"
          archiveNumbering="Rolling"
          concurrentWrites="false"
          keepFileOpen="false"
          maxArchiveFiles="20"/>
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="localfile" />
  </rules>
  <!-- ReSharper restore MarkupAttributeTypo -->
</nlog>