[Unit]
Description=RedDeer Relay Service
DefaultDependencies=yes
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dotnet /reddeer/relayservice/RedDeer.Relay.App.dll --systemd-service
SyslogIdentifier=reddeer-relayservice
Restart=on-failure
RestartSec=5
User=reddeer
Group=reddeer

[Install]
WantedBy=multi-user.target
